body {
    margin: 0;
    background-color: #000000;
  }

canvas {
    display: block;
  }
  
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

#cat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#catcut {
    width: 400px;
    height: 400px;
    z-index: 1000;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}